.chatContainer{
    display: flex;
    min-height: 75vh;
    justify-content: flex-end;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    padding: 2rem;
    min-width: 70rem;
    max-height: 75vh;
    flex-direction: column;
    flex-wrap: wrap;
    
  .mat-mdc-tab-group {
    min-height: 75vh;
  }
  }
