.inputContainer{
    display: flex;
    flex-direction: column;
    min-width: 60%;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 1rem;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 75vh;
}

.form{
    overflow: hidden;
    margin: 0.5rem;
    margin-top: 2rem;
    /* border: 2px solid gray;
    border-radius: 1rem; */
    padding: 1rem
}

p{
    color: white;
}