.form{
  display: flex;
  width: 100%;
  min-width: 65rem;
  max-width: 65rem;
}

.mat-mdc-tab-body {
  min-height: fit-content !important;
}

.tabContainer{
  min-height: max-content;
  padding: 0.5rem;
}

.radioButton{
  font-size: small;
padding: 1rem;
}
@media screen and (max-width: 700px){ .form {min-width:40rem} } 