<mat-sidenav-container fullscreen class="container">
  <mat-sidenav #sidenav mode="over" class="mat-sidenav">
    <mat-nav-list (click)="sidenav.toggle()" class="nav-item">
      <nav *ngFor="let button of menuItems">
        <app-navigation-item [icon]="button.icon" [text]="button.label" [link]="button.link" context="'primary'">
        </app-navigation-item>
      </nav>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content appereance="fill" class="appRouter">
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
