.chatContainer{
    border-radius: 1rem;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 60vh;
}

.messageContainer{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    justify-content: space-between;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    justify-content: space-between;

    background-color: slategray;
    border-radius: 1rem;
}

.form{
    overflow: hidden;
    margin: 0.5rem;
    margin-top: 2rem;
    border: 2px solid gray;
    border-radius: 1rem;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper{
    display: none !important;
}