<div #chatContainer class="chatContainer">
    <ng-container *ngFor="let item of chatSession.messages">
        <div class="messageContainer">
            <app-message-box [message]="item" [IsRightMessage]="item.senderId==currentUser?.userId"></app-message-box>    
        </div>  
    </ng-container>
</div>
<mat-progress-bar *ngIf="loading" class="progressBar" color="accent" mode="buffer"></mat-progress-bar>


<div class="inputContainer">
    <div class="buttonsContainer">
        <input #FileUpload class="hide" id="input-file-id" multiple type="file" (ngModelChange)="uploadChanged($event)"/>
        <!-- <mat-icon class="attach" (click)="FileUpload.click()">attach_file</mat-icon> -->

        <button mat-mini-fab color="primary" class="upload-btn"
        (click)="FileUpload.click()">
          <mat-icon>attach_file</mat-icon>
      </button>
    </div>
    <mat-form-field appearance="fill" class="form" (keyup.enter)="sendMessage()"> 
        <input matInput [(ngModel)]="messageText" [readonly]="loading"/>
        <mat-icon matSuffix (click)="sendMessage()">send</mat-icon>
        </mat-form-field>
</div>



