.chatContainer{
    border-radius: 1rem;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 60vh;
    max-width: 110vh;
}

.hide{
    display: none;
}

.messageContainer{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    justify-content: space-between;
}

.buttonsContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    .attach{
        border-radius: 2rem;
    }
    .attach:hover{
        background-color: aquamarine;
        opacity: 0.5;
    }
    .attach:active{
        background-color: lightgreen;
        opacity: 0.5;  
    }
}

.inputContainer{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    justify-content: space-between;
    background-color: slategray;
    border-radius: 1rem;
}

.form{
    overflow: hidden;
    margin: 0.5rem;
    margin-top: 0rem;
    border: 2px solid gray;
    border-radius: 1rem;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper{
    display: none !important;
}


.progressBar{
    width: 10vh;
    margin-bottom: 1rem;
    margin-left: 2rem;
    height: 5vh;
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-height: 10px;
    --mdc-linear-progress-track-height: 10px;
}