.container{
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
}

.containerRight{
    display: flex !important;
    /* flex-direction: row;   */
    align-items: center;
    justify-content: right;
}

.containerLeft {
    display: flex !important;
    /* flex-direction: row;   */
    align-items: center;
    justify-content: left;
}

.left_card{
max-width: 35%;
max-height: 20%;
justify-content: flex-start;
align-content: flex-start;
background-color: darkseagreen;
box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;
margin: 1rem;
margin-left: 0rem;
padding-right: 70%;
border-radius: 1rem;
padding: 1rem;
    .card_header{
                padding: 0.5rem;
                /* border-bottom: 2px solid black; */
                .mat-mdc-card-header-text{
                    color: blue;
                    font-size: x-small;
                    text-decoration-line: underline;
                    text-decoration-color: blue;
                }
            }   
    .card_content{
        min-width: 30%;
        max-width: 100%;
        word-wrap: break-word;
        /* white-space: -moz-pre-wrap;
        white-space: pre-wrap;     */
    }
    .card_footer{
        display: flex;
        padding: 0.5rem;
        align-items: flex-end;
        justify-content: flex-end;
        align-content: flex-end;
            color: lightgray;
            font-size: x-small;
    }
}

/* .left_card:after{
    position: absolute;
    -webkit-transform: rotate(90deg);
    transform: rotate(0deg);
    top: 2.8rem;
    left: -0.9rem;
    border-width: 15px;
    height: 5px;
    width: 30px;
    border-style: solid;
    border-color: transparent transparent darkseagreen transparent;
} */

.right_card{
    justify-self: flex-end;
    max-width: 35%;
    max-height: 20%;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: darkseagreen;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;
    margin: 1rem;
    margin-right: 0rem;
    border-radius: 1rem;
    padding: 1rem;
        .card_header{
                    padding: 0.5rem;
                    /* border-bottom: 2px solid black; */
                    .mat-mdc-card-header-text{
                        color: blue;
                        font-size: x-small;
                        text-decoration-line: underline;
                        text-decoration-color: blue;
                    }
                }   
        .card_content{
            min-width: 30%;
            max-width: 100%;
            word-wrap: break-word;
        }
        .card_footer{
            display: flex;
            padding: 0.5rem;
            align-items: flex-end;
            justify-content: flex-end;
            align-content: flex-end;
                color: lightgray;
                font-size: x-small;
        }
    }
    
    /* .right_card:after{
        position: absolute;
        float: right;
        -webkit-transform: rotate(0deg);
        transform: rotate(90deg);
        top: 2.8rem;
        left: 17.5rem;
        border-width: 15px;
        height: 5px;
        width: 30px;
        border-style: solid;
        border-color: transparent darkseagreen transparent transparent;
    } */

.leftAccent{
    height: 0px;
    width: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid darkseagreen;

    border-radius: 1rem;
    margin-right: -1rem;
    z-index: 0;
}

.rightAccent{
    height: 0px;
    width: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid darkseagreen;

    border-radius: 1rem;
    margin-left: -1rem;
    z-index: 0;
    /* border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem; */
}